html {
  font-family: 'PT Serif', serif;
  background-color: #c9b5ab;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #222;
}

h1, h2, nav {
  font-family: 'PT Sans', sans-serif;
}

h1, h2 {
  color: #3f1622;
}

:link {
  color: #8f2440;
  font-weight: bold;
}

figcaption {
  text-align: center;
}

.harvest {
  font-size: 1.5rem;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}
