html {
  font-family: "PT Serif", serif;
  background-color: #c9b5ab;
  font-weight: normal;
  line-height: 1.5;
  color: #222;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

img {
  width: 100%;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-weight: bold;
}

p {
  font-size: .8rem;
}

a {
  text-decoration: none;
}

a:link {
  color: #8f2440;
  font-weight: bold;
  list-style-type: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

figcaption {
  text-align: center;
  font-style: italic;
}

.harvest {
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.quote {
  font-size: 1.5rem;
  font-style: italic;
}

.nutrition {
  font-weight: bold;
}

footer {
  font-size: .8rem;
}

.nav {
  list-style-type: none;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

.common {
  list-style-type: lower-greek;
}

.tags {
  list-style-type: circle;
  font-size: .8rem;
}
