html {
  font-family: "PT Serif", serif;
  background-color: #c9b5ab;
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.5;
  color: #222;
}

img {
  width: 100%;
}

h1, h2, nav {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

ol, li {
  list-style-type: none;
}
h1, h2 {
  color: #3f1622;
}

a {
  text-decoration: none;
}

a:link {
  color: #8f2440;
  font-weight: bold;
  list-style-type: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

.common {
  list-style-type: lower-greek
}

figcaption {
  text-align: center;
}

.harvest {
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.quote {
  font-size: 1.5rem;
}

dt {
  font-weight: bold;
}

footer {
  font-size: .8rem;
}
